#root {
  margin: 20px auto;
  background-color: aliceblue;
  border: 2px solid #333;
  border-radius: 10px;
  min-height: 400px;
}
h1 {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
select {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}
button {
  background-color: burlywood;
  border: none;
  padding: 10px 20px;
  margin: 15px 0 0 5px;
  border-radius: 5px;
  cursor: pointer;
}
.Home {
  margin-top: 20px;
}
