#root {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.Home {
  height: 100vh;
  background: rgb(242, 242, 242);
}
.StatusPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(242, 242, 242);
}
h1 {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
h3 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
select {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}
button {
  width: 100%;
  padding: 8px;
  background: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  border: medium;
  border-radius: 4px;
  cursor: pointer;
}

.StatusPage .msg {
  color: orange;
}

/** Admin Login CSS **/
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(242, 242, 242);
}
.box {
  background: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 8px;
  width: 280px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
}
input {
  width: 100%;
  padding: 8px;
  margin: 10px 0px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
}
.Home button {
  margin-top: 20px;
}
button {
  width: auto;
  padding: 8px;
  background: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  border: medium;
  border-radius: 4px;
  cursor: pointer;
}

